<template>
    <div class="section">

        <div class="columns">

            <div class="column">

                <h1 class="title is-1">Store billboard <span class="subtitle is-4 has-text-grey">v{{ version }}</span>
                </h1>


                <div class="tabs is-boxed">
                    <ul>
                        <li :class="{'is-active': !advanced}">
                            <a href="#" @click.prevent="advanced=false">
                                Basic mode
                            </a>
                        </li>
                        <li :class="{'is-active': advanced}">
                            <a href="#" @click.prevent="advanced=true">
                                Advanced mode
                            </a>
                        </li>
                    </ul>
                </div>

                <template v-if="advanced">

                    <!--<editor-fold desc="Store info">-->
                    <h3 class="title is-3">Store information</h3>

                    <div class="card" style="margin-bottom: 1rem;">
                        <h5 class="card-header">
                            <div class="card-header-title title is-5" style="margin-bottom: 0;">Store</div>
                        </h5>
                        <div class="card-grid stores-grid">
                            <div class="card bg-primary" :style="{ backgroundColor: str.color }" v-for="str in stores"
                                 :class="{active: str === store}" @click="chooseStore(str)">
                                <div class="card-content"
                                     style="height: 5em; padding: 0.5em; display: flex; align-items: center; justify-content: center;">
                                    <img :src="str.logos[0]"
                                         style="max-width: 100%;width: auto;height: auto;max-height: 4em;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-bottom: 1rem;">
                        <h5 class="card-header">
                            <div class="card-header-title title is-5" style="margin-bottom: 0;">Logo</div>
                        </h5>
                        <div class="card-content">
                            <div class="columns" style="padding-bottom: .75rem;">
                                <div class="column" style="padding: .75rem .25rem" v-for="logo in storeLogos">
                                    <div class="card bbImgCard" :style="{ backgroundColor: color.hex }"
                                         :class="{active: logo === storeLogo}" @click="storeLogo = logo">
                                        <div class="card-content"
                                             style="height: 5em; padding: 0.5em; display: flex; align-items: center; justify-content: center;">
                                            <img :src="logo"
                                                 style="max-width: 100%;width: auto;height: auto;max-height: 4em;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <image-dropper prop="customStoreLogo" @files="addFile"></image-dropper>
                        </div>
                    </div>

                    <div class="card" style="margin-bottom: 1rem;">
                        <div class="card-header">
                            <div class="card-header-title title is-5" style="margin-bottom: 0;">Background</div>
                            <div class="card-header-icon">
                                <div class="field">
                                    <input type="checkbox" class="is-checkbox" v-model="showStoreBg"
                                           id="showStoreBg" name="showStoreBg">
                                    <label for="showStoreBg">Show</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-content" v-show="showStoreBg">
                            <div class="columns is-mobile is-vcentered">
                                <template v-if="heroBg">
                                    <div class="column is-narrow">
                                        <div class="box" style="padding: 0; overflow: hidden;">
                                            <img :src="heroBg"
                                                 style="max-width: 10em; max-height: 5em; display: block;">
                                        </div>
                                    </div>
                                    <div class="column is-narrow">
                                        <button class="button is-small is-danger is-outlined" @click="heroBg = null">
                                            <span class="icon"><span class="far fa-times"></span></span>
                                        </button>
                                    </div>
                                </template>
                                <div class="column">
                                    <image-dropper prop="heroBg" @files="addFile"></image-dropper>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-bottom: 1rem;">
                        <h5 class="card-header">
                            <div class="card-header-title title is-5" style="margin-bottom: 0;">Items</div>
                        </h5>
                        <table class="table table-vam is-fullwidth" style="margin-bottom: 0;">
                            <thead>
                            <tr>
                                <th style="width: 1em;"></th>
                                <th class="has-text-centered">Name</th>
                                <th class="has-text-centered">Value</th>
                                <th class="has-text-centered">Header</th>
                                <th style="width: 1em;"></th>
                            </tr>
                            </thead>
                            <draggable v-model="items" element="tbody" :options="{ handle: '.handle'}">
                                <tr v-for="(item, index) in items">
                                    <td class="has-text-grey-light has-text-centered-tablet handle"
                                        style="cursor:move;">
                                        <span class="far fa-bars"></span>
                                    </td>
                                    <td :colspan="item.value === null ? '2' : '1'"><input type="text" class="input" v-model="item.item" placeholder="Name">
                                    </td>
                                    <td v-if="item.value !== null"><input type="text" class="input" v-model="item.value" placeholder="Value"></td>
                                    <td class="has-text-centered">
                                            <input type="checkbox"
                                                   :id="'is-header-'+index" :name="'is-header-'+index"
                                                   @change="headerToggler(item)" :checked="item.value === null">
                                    </td>
                                    <td>
                                        <button type="button" class="button is-danger" @click="removeItem(index)">
                                            <span class="icon"><span class="far fa-times"></span></span>
                                        </button>
                                    </td>
                                </tr>
                            </draggable>
                        </table>
                        <div class="card-footer">
                            <span class="card-footer-item">
                                <div class="field">
                                    <input type="checkbox" class="is-checkbox" v-model="largeHeaders"
                                           id="largeHeaders" name="largeHeaders">
                                    <label for="largeHeaders">Large headers</label>
                                </div>
                            </span>
                            <span class="card-footer-item">
                                <div class="field">
                                    <input type="checkbox" class="is-checkbox" v-model="frameItems"
                                           id="frameItems" name="frameItems">
                                    <label for="frameItems">Frame items</label>
                                </div>
                            </span>
                            <div class="card-footer-item">
                                <div class="field">
                                    <input type="checkbox" class="is-checkbox" v-model="blockPrices"
                                           id="blockPrices" name="blockPrices">
                                    <label for="blockPrices">Block prices</label>
                                </div>
                            </div>
                            <a class="card-footer-item is-narrow" @click="items.push({ item: '', value: 0 })">
                                <span class="far fa-plus" style="margin-right: .6rem;"></span>
                                Add item
                            </a>
                        </div>
                    </div>
                    <!--</editor-fold>-->

                    <!--<editor-fold desc="Park info">-->
                    <h3 class="title is-3">Park information</h3>

                    <div class="card" style="margin-bottom: 1rem;">
                        <div class="card-header">
                            <div class="card-header-title title is-5" style="margin-bottom: 0;">Name and logo</div>
                            <div class="card-header-icon">
                                <div class="field">
                                    <input type="checkbox" class="is-checkbox" v-model="showParkName"
                                           id="showParkName" name="showParkName">
                                    <label for="showParkName">Show</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-content" v-show="showParkName">
                            <div class="field">
                                <label for="parkName" class="label">Park name</label>
                                <div class="control">
                                    <input class="input" name="parkName" id="parkName" v-model="parkName">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Park logo</label>
                                <div class="columns is-vcentered">
                                    <template v-if="parkLogo">
                                        <div class="column is-narrow">
                                            <div class="box" :style="{ backgroundColor: color.hex }">
                                                <img :src="parkLogo"
                                                     style="display: block;max-width: 10em; max-height: 5em;">
                                            </div>
                                        </div>
                                        <div class="column is-narrow">
                                            <button class="button is-small is-danger is-outlined"
                                                    @click="parkLogo = null">
                                                <span class="icon"><span class="far fa-times"></span></span>
                                            </button>
                                        </div>
                                    </template>
                                    <div class="column">
                                        <image-dropper prop="parkLogo" @files="addFile"></image-dropper>
                                    </div>
                                </div>
                            </div>
                            <div class="field" v-if="parkLogo">
                                <input type="checkbox" class="is-checkbox" v-model="showParkLogoAndName"
                                       id="showParkLogoAndName" name="showParkLogoAndName">
                                <label for="showParkLogoAndName">Show both logo <strong>and</strong> name</label>
                            </div>
                        </div>
                    </div>
                    <!--</editor-fold>-->

                    <!--<editor-fold desc="Billboard options">-->
                    <h3 class="title is-3">Billboard options</h3>

                    <div class="card" style="margin-bottom: 1rem;">
                        <div class="card-header">
                            <div class="card-header-title title is-5" style="margin-bottom: 0;">General options
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-narrow">
                                    <div class="field">
                                        <label class="label">Color</label>
                                        <div class="control">
                                            <Chrome v-model="color"></Chrome>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Orientation</label>
                                        <div class="control">
                                            <div class="tabs is-toggle is-fullwidth">
                                                <ul>
                                                    <li :class="{ 'is-active': !portrait }">
                                                        <a @click="portrait = false">
                                                            <span class="far fa-rectangle-landscape" style="margin-right: .75rem;"></span>
                                                            Landscape
                                                        </a>
                                                    </li>
                                                    <li :class="{ 'is-active': portrait }">
                                                        <a @click="portrait = true; swap = false;">
                                                            <span class="far fa-rectangle-portrait" style="margin-right: .75rem;"></span>
                                                            Portrait
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field" v-if="!portrait">
                                        <input type="checkbox" class="is-checkbox" v-model="swap" id="swap" name="swap">
                                        <label for="swap">Swap logo side</label>
                                    </div>
                                    <div class="field">
                                        <input type="checkbox" class="is-checkbox" v-model="altDesign" id="altDesign" name="altDesign">
                                        <label for="altDesign">Alternative design</label>
                                    </div>
                                    <div class="field">
                                        <label class="label">Corner image</label>
                                        <div class="columns" style="margin-bottom: .75rem;">
                                            <div class="column" style="padding: .75rem .25rem">
                                                <div class="card bbImgCard" :style="{ backgroundColor: color.hex }"
                                                     :class="{active: bbImage === null}" @click="bbImage = null">
                                                    <div class="card-content has-text-centered"
                                                         style="height: 5em; padding: 0.5em; display: flex; align-items: center; justify-content: center; text-transform: uppercase; font-weight: bold;">
                                                        No image
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column" style="padding: .75rem .25rem"
                                                 v-for="img in bbImages">
                                                <div class="card bbImgCard" :style="{ backgroundColor: color.hex }"
                                                     :class="{active: img === bbImage}" @click="bbImage = img">
                                                    <div class="card-content"
                                                         style="height: 5em; padding: 0.5em; display: flex; align-items: center; justify-content: center;">
                                                        <img :src="img"
                                                             style="max-width: 100%;width: auto;height: auto;max-height: 4em;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <image-dropper prop="customBbImage" @files="addFile"></image-dropper>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</editor-fold>-->

                </template>

                <template v-else>

                    <div class="section">
                        <div class="has-text-centered has-text-grey-light">
                            <span class="far fa-info-circle fa-5x mb-3"></span>
                            <p class="is-size-4" style="font-weight: 300;">Coming soon!</p>
                        </div>
                    </div>

                </template>

            </div>

            <div class="column is-narrow">

                <div style="position:sticky; top:88px;">

                    <!--<editor-fold desc="Billboard">-->
                    <div class="store-billboard" :class="{portrait: portrait, swap: swap, alt: altDesign}">

                        <div class="store-billboard__bg" v-show="bbImage !== null">
                            <img :src="bbImage">
                        </div>

                        <div class="store-billboard__hero" :style="storeBg">
                            <div :style="{ 'background-image': 'url('+ storeLogo + ')' }"
                                 class="store-billboard__hero__logo"></div>
                        </div>

                        <div class="store-billboard__alt-hero">
                            <div class="store-billboard__alt-hero__icon" v-show="bbImage !== null"  :style="{ 'background-image': 'url('+ bbImage + ')' }">
                            </div>
                            <div class="store-billboard__alt-hero__logo">
                                <div :style="{ 'background-image': 'url('+ storeLogo + ')' }"
                                     class="store-billboard__alt-hero__logo__img"></div>
                            </div>

                            <div class="store-billboard__alt-hero__bars blokk">
                                <div class="store-billboard__alt-hero__bars__bar" v-for="item in items"
                                     :class="{ 'big': item.value === null}">
                                    <template v-if="item.value === null"> {{ store.name }} {{ item.item }}</template>
                                    <template v-else>{{ item.item }}</template>
                                </div>
                            </div>

                            <img :src="heroBg || store.bg" v-if="showStoreBg" class="store-billboard__alt-hero__photo">

                        </div>

                        <div class="store-billboard__menu">

                            <div class="store-billboard__items" :class="{ framed: frameItems, largeHeaders: largeHeaders }">
                                <div class="store-billboard__item" :class="{ 'header': item.value === null }"
                                     v-for="item in items">
                                    <div class="columns" v-if="item.value !== null"
                                         style="margin-top: 0;margin-bottom: 0;">
                                        <div class="column is-narrow store-billboard__item__name">{{ item.item }}</div>
                                        <div class="column store-billboard__item__spacer"></div>
                                        <div class="column is-narrow store-billboard__item__value"
                                             :class="{ 'blokk': blockPrices }">
                                            {{ cf(item.value) }}
                                        </div>
                                    </div>
                                    <template v-else>{{ item.item }}</template>
                                </div>
                            </div>

                            <div class="store-billboard__park-logo" v-show="showParkName">
                                <img :src="parkLogo" v-if="parkLogo">
                                <div class="store-billboard__park-name" :title="parkName"
                                     v-if="!parkLogo">{{ parkName }}
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--</editor-fold>-->

                    <div class="has-text-centered" style="margin-top: 2rem">
                        <button class="button is-primary is-large" @click="download">
                            <span class="far fa-download"></span>&nbsp;
                            Download
                        </button>
                        <a href="#" download="billboard.png" id="downloadLink"></a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</template>

<script>
    const version = '0.1.7 beta';

    import axios from 'axios'
    import Vue from 'vue'
    import html2canvas from '../../html2canvas'

    import tinycolor from 'tinycolor2'

    import {Chrome, Slider} from 'vue-color'
    import ImageDropper from '../../components/ImageDropper.vue'
    import draggable from 'vuedraggable'

    import stores from './stores'

    const bbImages = [require('./images/bgs/bg-planet.png')];

    export default {
        version: version,
        components: {
            'image-dropper': ImageDropper,
            draggable,
            Chrome,
            Slider
        },
        data() {
            return {
                advanced: true,
                portrait: false,
                swap: false,
                store: null,
                color: {
                    hex: '#008ACC'
                },
                storeLogo: null,
                customStoreLogo: null,
                heroBg: null,
                blurredHeroBg: null,
                showStoreBg: true,
                items: [],
                frameItems: false,
                parkName: 'Park name',
                parkLogo: null,
                showParkName: true,
                bbImage: null,
                customBbImage: null,
                blockPrices: false,
                largeHeaders: false,
                altDesign: false
            }
        },
        computed: {
            version() {
                return version
            },
            stores() {
                return stores
            },
            storeLogos() {
                if (this.store === null) return [];
                let arr = this.store.logos.slice(0);
                if (this.customStoreLogo) {
                    arr.push(this.customStoreLogo)
                }
                return arr;
            },
            storeBg() {
                if (this.showStoreBg) {
                    return {
                        'background-image': 'url(' + this.blurredHeroBg + ')'
                    }
                } else {
                    return {}
                }
            },
            bbImages() {
                let arr = bbImages.concat(this.store.bbImages);
                if (this.customBbImage) {
                    arr.push(this.customBbImage)
                }
                return arr;
            }
        },
        methods: {
            chooseStore(store) {
                this.store = store;
                this.storeLogo = store.logos[0];
                this.items = store.items.concat();
                this.color = {hex: store.color};
                this.bbImage = store.bbImages[0];
                this.blurHeroBg();
            },
            removeItem(index) {
                this.items.splice(index, 1)
            },
            blurHeroBg() {
                if (this.heroBg) {
                    this.blurImage(this.heroBg)
                } else {
                    axios.get(this.store.bg, {responseType: "blob"})
                        .then(response => {
                            let reader = new window.FileReader();
                            reader.readAsDataURL(response.data);
                            reader.onload = () => {
                                this.blurImage(reader.result)
                            }
                        });
                }
            },
            blurImage(dataUrl) {
                let img = new Image;
                img.onload = () => {
                    let newCanvas = document.createElement('canvas');
                    newCanvas.width = img.width - 20;
                    newCanvas.height = img.height - 20;
                    let ctx = newCanvas.getContext('2d');
                    ctx.filter = 'blur(' + Math.round(img.height / 100) + 'px)';
                    ctx.drawImage(img, -10, -10);
                    this.blurredHeroBg = newCanvas.toDataURL();
                };
                img.src = dataUrl;
            },
            addFile(files, prop) {
                let obj = this;
                let reader = new FileReader();
                reader.addEventListener("load", function () {
                    obj[prop] = reader.result;
                }, false);
                reader.readAsDataURL(files[0]);
            },
            headerToggler(item) {
                if (item.value === null) {
                    item.value = 0
                } else {
                    item.value = null
                }
            },
            cf(number) {
                return Number(number).toLocaleString(this.$i18n.locale, {
                    style: 'currency',
                    currency: 'USD'
                })
            },
            download() {
                this.$ga.event('Billboards', 'Downloaded', 'Store billboard');
                let billboard = document.querySelector('.store-billboard');
                let fontSize = 1920 / 40;
                if (this.portrait) {
                    billboard.style.width = '1080px';
                    billboard.style.height = '1920px';
                } else {
                    billboard.style.width = '1920px';
                    billboard.style.height = '1080px';
                }
                billboard.style.fontSize = fontSize + 'px';
                billboard.scrollIntoView(true);
                Vue.nextTick(() => {
                    html2canvas(billboard, {
                        onrendered: (canvas) => {
                            document.body.appendChild(canvas);
                            billboard.style.width = null;
                            billboard.style.height = null;
                            billboard.style.fontSize = null;
                            let drawCanvas = canvas;
                            if (this.portrait) {
                                let drawCanvas = document.createElement('canvas');
                                drawCanvas.width = 1920;
                                drawCanvas.height = 1080;
                                let ctx = drawCanvas.getContext('2d');
                                ctx.rotate(-90 * Math.PI / 180);
                                ctx.drawImage(canvas, -1080, 0);
                            }
                            let link = document.querySelector('#downloadLink');
                            link.href = drawCanvas.toDataURL();
                            link.click();
                        }
                    })
                })
            }
        },
        created() {
            this.chooseStore(stores[0])
        },
        watch: {
            heroBg(to, from) {
                this.blurHeroBg()
            },
            color: function (value) {
                console.log(value);
                document.querySelector('.store-billboard').style.setProperty('--store-color', value.hex);
                document.querySelector('.store-billboard').style.setProperty('--dark-color', '#' + tinycolor(value.hex).darken(10).toHex());
                document.querySelector('.store-billboard').style.setProperty('--darker-color', '#' + tinycolor(value.hex).darken(20).toHex());
            },
        }
    }

</script>

<style lang="scss" scoped>
    @import './style.scss';
</style>
