// Billboard styles

.store-billboard {

  $primary: #008ACC;
  $font-family-billboard: 'Source Sans Pro', sans-serif;

  --store-color: $primary;
  --dark-color: darken($primary, 10%);
  --darker-color: darken($primary, 20%);

  $width: 40vw;
  $height: $width * (9/16);

  font-family: $font-family-billboard;
  width: $width;
  height: $height;
  background-color: var(--store-color);

  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: relative;

  &, *, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  img {
    vertical-align: middle;
    max-width: none;
  }

  &.portrait{
    width: $height;
    height: $width;
    flex-direction: column;
  }

  &.swap {
    flex-direction: row-reverse;
  }

  font-size: $width / 40;

  &__bg {
    // height: 14em;
    position: absolute;
    bottom: -.6em;
    right: -3em;
    img {
      width: auto;
      height: auto;
      max-width: 20em;
      max-height: 14em;
    }
    //filter: grayscale(1) blur(.05em);
    opacity: .2;
  }

  &.swap &__bg {
    right: auto;
    left: -3em;
  }

  &__hero {

    padding: 3em;

    width: 44%;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: stretch;

    &__logo{
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  &.portrait &__hero{
    width: auto;
    height: 44%;
  }

  &__alt-hero {
    width: 50%;
    background-color: var(--store-color);
    display: none;
    position: relative;

    &__logo {

      $logo-height: 9em;
      $block-padding: 1.5em;

      position: absolute;
      right: 0;
      top: 2.35em;
      padding-right: $block-padding / 2;
      box-sizing: content-box;

      &::before {
        $bradius: ($logo-height - 2 * $block-padding) / 2;
        position: absolute;
        top: $block-padding;
        right: 0;
        bottom: $block-padding;
        left: -1 * $block-padding;
        background-color: var(--darker-color);
        content: '';
        border-radius: $bradius 0 0 $bradius;
        //z-index: 10;
      }

      &__img{
        width: $logo-height;
        height: $logo-height;
        background-repeat: no-repeat;
        background-size:contain;
        background-position: left center;
        position: relative;
        //z-index: 11;
      }
    }

    &__icon {
      position: absolute;
      top: 3.35em;
      left: 0.85em;
      width: 7em;
      height: 7em;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: .75;
    }

    &__photo {
      width: 11em;
      height: auto;
      border: .25em solid var(--darker-color);
      position: absolute;
      bottom: 1.5em;
      right: -.25em;
      // transform: rotate(-8deg);
    }

    &__bars {
      position: absolute;
      top: 54%;
      font-size: .65em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__bar{
        line-height: 1em;
        height: 2em;
        border-radius: 0 1em 1em 0;
        padding: .4em 1.6em .6em 1em;
        color: rgba(white, .65);
        margin-bottom: .35em;
        background-color: var(--dark-color);
        &.big {
          font-size: 1.3em;
        }
      }
    }
  }

  &.portrait &__alt-hero{
    width: auto;
    height: 44%;

    &__logo {
      top: 1em;
    }

    &__icon {
      top: 2em;
    }

    &__photo {
      bottom: 0.5em;
    }
  }

  &__menu {
    padding: 2em;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    line-height: 1.5;
  }

  &__items{
    flex:1;
    font-size: 1.15em;
    color: white;

  }

  &__item{
    margin-bottom: .3em;

    &__name, &__spacer, &__value {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__name{
      font-weight: 600;
    }

    &__spacer {
      border-bottom: .1em solid rgba(255,255,255,.45);
      height: 1.1em;
      padding: 0;
    }

    &.header {
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
    }
  }

  &__items.largeHeaders .header {
    font-size: 1.75em;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .1em;
  }

  &__items.framed &__item:not(.header){
    background-color: white;
    color: var(--store-color);
    padding: .25em .6em;
  }

  &__park {

    margin-top: 1em;

    &-logo {
      position: relative;
      height: 3em;
      //outline: 1px dashed white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: .5em;

      img {
        max-height: 100%;
        max-width: 65%;
      }
    }

    &-name {
      color: white;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2em;
      line-height: 1;
      position: relative;
      z-index: 0;
      width: 100%;
      /*&:before {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: .3em var(--darker-color);
        left: 0;
        right: 0;
        z-index: -1;
        text-align: center;
      }*/
    }

  }

  &.alt {
    .store-billboard {
      &__menu {
        background-color: var(--darker-color);
      }
      &__bg {
        display: none;
      }
      &__park-name:before {
        display: none;
      }
      &__hero {
        display: none;
      }
      &__alt-hero {
        display: block;
      }
    }
  }

}

// Page styles
.stores-grid {
  $grid-padding: 0;
  padding: $grid-padding;
  display: grid;
  /* Display as a Grid */
  grid-template-columns: repeat(auto-fit, minmax(7.5em, 1fr));
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: $grid-padding;

  .card {
    opacity: .5;
    transition: .3s all;
    color: white;
    img {
      transform: scale(.65);
      transition: .3s all;
    }
    &.active {
      opacity: 1;
      img {
        transform: scale(1);
      }
    }
  }
}