<template>
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">

                    <h1 class="title is-1">Ride billboard <span class="subtitle is-4 has-text-grey">v{{ version }}</span></h1>


                    <div class="tabs is-boxed">
                        <ul>
                            <li :class="{'is-active': !advanced}">
                                <a href="#" @click.prevent="advanced=false">
                                    Basic mode
                                </a>
                            </li>
                            <li :class="{'is-active': advanced}">
                                <a href="#" @click.prevent="advanced=true">
                                    Advanced mode
                                </a>
                            </li>
                        </ul>
                    </div>

                    <template v-if="advanced">
                        <!--<editor-fold desc="Ride info">-->
                        <h3 class="title is-3">Ride information</h3>

                        <div class="card" style="margin-bottom: 1rem;">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">Name and logo</div>
                                <div class="card-header-icon">
                                    <div class="field">
                                        <input type="checkbox" class="is-checkbox" v-model="showRideName"
                                               id="showRideName" name="showRideName">
                                        <label for="showRideName">Show</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" v-show="showRideName">
                                <div class="field">
                                    <label for="rideName" class="label">Ride name</label>
                                    <div class="control">
                                        <input class="input" name="rideName" id="rideName" v-model="rideName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="rideNameSize" class="label">Ride name size</label>
                                    <div class="control">
                                        <input type="range" min="1.5" max="3.5" step="0.05" v-model="rideNameSize"
                                               name="rideNameSize" id="rideNameSize"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ride logo</label>
                                    <div class="columns is-mobile is-vcentered">
                                        <template v-if="rideLogo">
                                            <div class="column is-narrow">
                                                <div class="box" :style="{ backgroundColor: color.hex }">
                                                    <img :src="rideLogo"
                                                         style="display: block; max-width: 10em; max-height: 5em;">
                                                </div>
                                            </div>
                                            <div class="column is-narrow">
                                                <button class="button is-danger is-small is-outlined"
                                                        @click="rideLogo = null">
                                                    <span class="icon"><span class="far fa-times"></span></span>
                                                </button>
                                            </div>
                                        </template>
                                        <div class="column">
                                            <image-dropper prop="rideLogo" @files="addFile"></image-dropper>
                                        </div>
                                    </div>
                                </div>
                                <div class="field" v-if="rideLogo">
                                    <input type="checkbox" class="is-checkbox" v-model="showRideLogoAndName"
                                           id="showRideLogoAndName" name="showRideLogoAndName">
                                    <label for="showRideLogoAndName">Show both logo <strong>and</strong> name</label>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 1rem;">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">
                                    Excitement / Fear / Nausea
                                </div>
                                <div class="card-header-icon">
                                    <div class="field">
                                        <input type="checkbox" class="is-checkbox" v-model="efnShow"
                                               id="efnShow" name="efnShow">
                                        <label for="efnShow">Show</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" v-show="efnShow">
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <div class="field">
                                            <label for="excitement" class="label">Excitement</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model="excitement"
                                                       name="excitement" id="excitement">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label for="fear" class="label">Fear</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model="fear" name="fear"
                                                       id="fear">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label for="nausea" class="label">Nausea</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model="nausea" name="nausea"
                                                       id="nausea">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 1rem;">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">Priority pass</div>
                                <div class="card-header-icon">
                                    <div class="field">
                                        <input type="checkbox" class="is-checkbox" v-model="priorityPass"
                                               id="priorityPass" name="priorityPass">
                                        <label for="priorityPass">Accepts</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3" style="margin-bottom: 1rem;">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">Wait time</div>
                                <div class="card-header-icon">
                                    <div class="field">
                                        <input type="checkbox" class="is-checkbox" v-model="showWait"
                                               id="showWait" name="showWait">
                                        <label for="showWait">Show</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" v-show="showWait">
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label for="waitTime" class="label">Number to show in screen</label>
                                            <div class="field has-addons">
                                                <div class="control is-expanded">
                                                    <input class="input" v-model="waitTime" name="waitTime"
                                                           id="waitTime">
                                                </div>
                                                <p class="control">
                                                    <a class="button is-static">
                                                        mins.
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-narrow">
                                        <div class="field">
                                            <label class="label">Color</label>
                                            <div class="control">
                                                <Chrome v-model="waitTimeColor"></Chrome>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</editor-fold>-->

                        <!--<editor-fold desc="Park info">-->
                        <h3 class="title is-3">Park information</h3>

                        <div class="card" style="margin-bottom: 1rem;">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">Name and logo</div>
                                <div class="card-header-icon">
                                    <div class="field">
                                        <input type="checkbox" class="is-checkbox" v-model="showParkName"
                                               id="showParkName" name="showParkName">
                                        <label for="showParkName">Show</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content" v-show="showParkName">
                                <div class="field">
                                    <label for="parkName" class="label">Park name</label>
                                    <div class="control">
                                        <input class="input" name="parkName" id="parkName" v-model="parkName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Park logo</label>
                                    <div class="columns is-vcentered">
                                        <template v-if="parkLogo">
                                            <div class="column is-narrow">
                                                <div class="box" :style="{ backgroundColor: color.hex }">
                                                    <img :src="parkLogo"
                                                         style="display: block;max-width: 10em; max-height: 5em;">
                                                </div>
                                            </div>
                                            <div class="column is-narrow">
                                                <button class="button is-small is-danger is-outlined"
                                                        @click="parkLogo = null">
                                                    <span class="icon"><span class="far fa-times"></span></span>
                                                </button>
                                            </div>
                                        </template>
                                        <div class="column">
                                            <image-dropper prop="parkLogo" @files="addFile"></image-dropper>
                                        </div>
                                    </div>
                                </div>
                                <div class="field" v-if="parkLogo">
                                    <input type="checkbox" class="is-checkbox" v-model="showParkLogoAndName"
                                           id="showParkLogoAndName" name="showParkLogoAndName">
                                    <label for="showParkLogoAndName">Show both logo <strong>and</strong> name</label>
                                </div>
                            </div>
                        </div>
                        <!--</editor-fold>-->

                        <!--<editor-fold desc="Billboard options">-->
                        <h3 class="title is-3">Park information</h3>

                        <div class="card" style="margin-bottom: 1rem;">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">General options
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="columns">
                                    <div class="column is-narrow">
                                        <div class="field">
                                            <label class="label">Color</label>
                                            <div class="control">
                                                <Chrome v-model="color"></Chrome>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">Corner image</label>
                                            <div class="columns" style="margin-bottom: .75rem;">
                                                <div class="column" style="padding: .75rem .25rem">
                                                    <div class="card bbImgCard" :style="{ backgroundColor: color.hex }"
                                                         :class="{active: bbImage === null}" @click="bbImage = null">
                                                        <div class="card-content has-text-centered"
                                                             style="height: 5em; padding: 0.5em; display: flex; align-items: center; justify-content: center; text-transform: uppercase; font-weight: bold;">
                                                            No image
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column" style="padding: .75rem .25rem"
                                                     v-for="img in bbImages">
                                                    <div class="card bbImgCard" :style="{ backgroundColor: color.hex }"
                                                         :class="{active: img === bbImage}" @click="bbImage = img">
                                                        <div class="card-content"
                                                             style="height: 5em; padding: 0.5em; display: flex; align-items: center; justify-content: center;">
                                                            <img :src="img"
                                                                 style="max-width: 100%;width: auto;height: auto;max-height: 4em;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <image-dropper prop="customBbImage" @files="addFile"></image-dropper>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-title title is-5" style="margin-bottom: 0;">Language</div>
                                <div class="card-header-icon">
                                    <div class="select">
                                        <select name="language" id="language" v-model="$i18n.locale">
                                            <option :value="lang.code" v-for="lang in languages">{{ lang.name }}
                                            </option>
                                            <option value="cstm">Custom</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <table class="table is-fullwidth" v-if="$i18n.locale === 'cstm'">
                                <tbody>
                                <tr v-for="(value, key) in enMessages">
                                    <td style="vertical-align: middle; font-weight: bold;">{{ value }}</td>
                                    <td>
                                        <input type="text" class="input" v-model="messages[key]">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--</editor-fold>-->
                    </template>

                    <template v-else>
                        <!--<editor-fold desc="Ride info">-->
                        <div class="card" style="margin-bottom: 1rem;">
                            <header class="card-header">
                                <p class="card-header-title title is-4">Ride information</p>
                            </header>
                            <div class="card-content">
                                <div class="field">
                                    <label for="rideName" class="label">Ride name</label>
                                    <div class="control">
                                        <input type="text" class="input" name="rideName" id="rideName"
                                               v-model="rideName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ride logo</label>
                                    <div class="columns is-mobile is-vcentered">
                                        <template v-if="rideLogo">
                                            <div class="column is-narrow">
                                                <div class="box" style="padding: 1rem;"
                                                     :style="{ backgroundColor: color.hex }">
                                                    <img :src="rideLogo"
                                                         style="display: block; max-width: 10em; max-height: 5em;">
                                                </div>
                                            </div>
                                            <div class="column is-narrow">
                                                <button class="button is-small is-danger is-outlined"
                                                        @click="rideLogo = null">
                                                    <span class="icon"><span class="far fa-times"></span></span>
                                                </button>
                                            </div>
                                        </template>
                                        <div class="column">
                                            <image-dropper prop="rideLogo" @files="addFile"></image-dropper>
                                        </div>
                                    </div>
                                </div>
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <div class="field">
                                            <label for="excitement" class="label">Excitement</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model="excitement"
                                                       name="excitement" id="excitement">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label for="fear" class="label">Fear</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model="fear" name="fear"
                                                       id="fear">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label for="nausea" class="label">Nausea</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model="nausea" name="nausea"
                                                       id="nausea">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <input type="checkbox" class="is-checkbox" v-model="priorityPass"
                                           name="priorityPass" id="priorityPass">
                                    <label for="priorityPass">Accepts Priority Pass</label>
                                </div>

                                <div class="field">
                                    <label class="label">Wait time</label>
                                    <div class="columns is-mobile">
                                        <div class="column is-narrow">
                                            <input id="showWait" name="showWait" type="checkbox" v-model="showWait"
                                                   class="switch">
                                            <label for="showWait"></label>
                                        </div>
                                        <div class="column">
                                            <div class="field has-addons">
                                                <div class="control is-expanded">
                                                    <input type="number" class="input" v-model="waitTime" step="1"
                                                           min="0"
                                                           max="99" :disabled="!showWait">
                                                </div>
                                                <p class="control">
                                                    <a class="button is-static">
                                                        mins.
                                                    </a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--</editor-fold>-->

                        <!--<editor-fold desc="Park info">-->
                        <div class="card" style="margin-bottom: 1rem;">
                            <header class="card-header"><p class="card-header-title title is-4">Park info</p></header>
                            <div class="card-content">
                                <div class="field">
                                    <label for="parkName" class="label">Park name</label>
                                    <div class="control">
                                        <input type="text" class="input" name="parkName" id="parkName"
                                               v-model="parkName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Park logo</label>
                                    <div class="columns is-vcentered">
                                        <template v-if="parkLogo">
                                            <div class="column is-narrow">
                                                <div class="box" style="padding: 1rem;"
                                                     :style="{ backgroundColor: color.hex }">
                                                    <img :src="parkLogo"
                                                         style="display: block; max-width: 10em; max-height: 5em;">
                                                </div>
                                            </div>
                                            <div class="column is-narrow">
                                                <button class="button is-small is-danger is-outlined"
                                                        @click="parkLogo = null">
                                                    <span class="icon"><span class="far fa-times"></span></span>
                                                </button>
                                            </div>
                                        </template>
                                        <div class="column">
                                            <image-dropper prop="parkLogo" @files="addFile"></image-dropper>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</editor-fold>-->

                        <!--<editor-fold desc="Billboard options">-->
                        <div class="card mb-3">
                            <div class="card-header"><p class="card-header-title title is-4">Billboard options</p></div>
                            <div class="card-content">
                                <div class="field">
                                    <label class="label">Color</label>
                                    <div class="control">
                                        <Slider v-model="color"></Slider>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="language" class="label">Language</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="language" id="language" v-model="$i18n.locale">
                                                <option :value="lang.code" v-for="lang in languages">
                                                    {{ lang.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</editor-fold>-->
                    </template>


                </div>

                <div class="column is-narrow">
                    <div style="position:sticky; top:88px;">
                        <!--<editor-fold desc="Billboard">-->
                        <div class="ride-billboard">

                            <div class="ride-billboard__bg" v-show="bbImage !== null">
                                <img :src="bbImage">
                            </div>

                            <div class="ride-billboard__ride-logo" v-show="showRideName">
                                <img :src="rideLogo" v-if="rideLogo">
                                <div class="ride-billboard__ride-name" :title="rideName"
                                     :style="{ fontSize: rideNameSize + 'em' }" v-if="!rideLogo || showRideLogoAndName">
                                    {{ rideName }}
                                </div>
                            </div>

                            <div class="ride-billboard__spacer"></div>

                            <div class="ride-billboard__wait" v-if="showWait">
                                <div class="ride-billboard__wait__label">{{ $t('waitTime') }}</div>
                                <div class="ride-billboard__wait__screen">
                                    <div class="ride-billboard__wait__base">88</div>
                                    <div class="ride-billboard__wait__number">{{ waitTime }}</div>
                                </div>
                                <div class="ride-billboard__wait__mins">{{ $t('mins') }}</div>
                            </div>

                            <div class="ride-billboard__priority" v-show="priorityPass">
                                <div class="ride-billboard__priority__accepts">{{ $t('priorityAccepts') }}</div>
                                <div class="ride-billboard__priority__icon">
                                    <img src="./images/ticket.png" alt="">
                                </div>
                                <div class="ride-billboard__priority__pass">{{ $t('priorityPass') }}</div>
                            </div>

                            <div class="ride-billboard__enf" v-show="efnShow">
                                <div class="ride-billboard__enf__box">
                                    <span class="ride-billboard__enf__box__number">{{ excitement }}</span>
                                    <span class="ride-billboard__enf__box__name">{{ $t('excitement') }}</span>
                                </div>
                                <div class="ride-billboard__enf__box">
                                    <span class="ride-billboard__enf__box__number">{{ fear }}</span>
                                    <span class="ride-billboard__enf__box__name">{{ $t('fear') }}</span>
                                </div>
                                <div class="ride-billboard__enf__box">
                                    <span class="ride-billboard__enf__box__number">{{ nausea }}</span>
                                    <span class="ride-billboard__enf__box__name">{{ $t('nausea') }}</span>
                                </div>
                            </div>

                            <div class="ride-billboard__park-logo" v-show="showParkName">
                                <img :src="parkLogo" v-if="parkLogo">
                                <div class="ride-billboard__park-name" :title="parkName"
                                     v-if="!parkLogo || showParkLogoAndName">{{ parkName }}
                                </div>
                            </div>

                        </div>
                        <!--</editor-fold>-->

                        <div class="has-text-centered" style="margin-top: 2rem">
                            <button class="button is-primary is-large" @click="download">
                                <span class="far fa-download"></span>&nbsp;
                                Download
                            </button>
                            <a href="#" download="billboard.png" id="downloadLink"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const version = '1.4.1';

    import {Chrome, Slider} from 'vue-color'
    import ImageDropper from '../../components/ImageDropper.vue'

    import tinycolor from 'tinycolor2'

    import html2canvas from '../../html2canvas'

    import Vue from 'vue'

    const languages = [
        {
            'code': 'de',
            'name': 'Deutsch'
        },
        {
            'code': 'en',
            'name': 'English'
        },
        {
            'code': 'nl',
            'name': 'Nederlands'
        },
        {
            'code': 'pc',
            'name': 'Planco'
        },
        {
            'code': 'pt',
            'name': 'Português'
        }
    ];

    const messages = {
        de: {
            'excitement': 'Spassfaktor',
            'fear': 'Angstfaktor',
            'nausea': 'Übelkeitsfaktor',
            'priorityAccepts': 'Dieses Fahrgeschäft akzeptiert',
            'priorityPass': 'Prioritäts Pass',
            'waitTime': 'Voraussichtliche Wartezeit:',
            'mins': 'mins.'
        },
        en: {
            'excitement': 'Excitement',
            'fear': 'Fear',
            'nausea': 'Nausea',
            'priorityAccepts': 'This ride accepts',
            'priorityPass': 'Priority pass',
            'waitTime': 'Estimated wait time:',
            'mins': 'mins.'
        },
        nl: {
            'excitement': 'Opwinding',
            'fear': 'Angst',
            'nausea': 'Misselijkheid',
            'priorityAccepts': 'Deze attractie accepteert',
            'priorityPass': 'Priority pass',
            'waitTime': 'Verwachte wachtijd:',
            'mins': 'min.'
        },
        pc: {
            'excitement': 'Zerim',
            'fear': 'Henxa',
            'nausea': 'Staja',
            'priorityAccepts': 'Lis romme mittel',
            'priorityPass': 'Frenzatra cloz',
            'waitTime': 'Halp temm:',
            'mins': 'nimi.'
        },
        pt: {
            'excitement': 'Entusiasmo',
            'fear': 'Medo',
            'nausea': 'Náusea',
            'priorityAccepts': 'Esta atração aceita',
            'priorityPass': 'Passe prioridade',
            'waitTime': 'Tempo de espera estimado:',
            'mins': 'mins.'
        },
        cstm: {}
    };

    const bbImages = [require('./images/bgs/bg-coaster.png'), require('./images/bgs/bg-planet.png'), require('./images/bgs/bg-wheel.png'), require('./images/bgs/bg-kart.png')];

    export default {
        version: version,
        components: {
            Chrome,
            Slider,
            'image-dropper': ImageDropper
        },
        data() {
            return {
                advanced: false,
                showRideName: true,
                showRideLogoAndName: false,
                rideName: 'My Ride',
                rideNameSize: 2.3,
                rideLogo: null,
                color: {
                    hex: '#008ACC'
                },
                excitement: 5,
                fear: 5,
                nausea: 5,
                efnShow: true,
                priorityPass: false,
                showWait: true,
                waitTime: 7,
                waitTimeColor: {
                    hex: '#F44336'
                },
                showParkName: true,
                showParkLogoAndName: false,
                parkName: 'My Park',
                parkLogo: null,
                bbImage: bbImages[0],
                customBbImage: null,
                languages: languages,
                messages: {}
            }
        },
        computed: {
            version() {
                return version
            },
            enMessages() {
                return this.$i18n.getLocaleMessage('en')
            },
            bbImages() {
                let arr = bbImages.slice(0);
                if (this.customBbImage) {
                    arr.push(this.customBbImage)
                }
                return arr;
            }
        },
        methods: {
            addFile(files, prop) {
                let obj = this;
                let reader = new FileReader();
                reader.addEventListener("load", function () {
                    obj[prop] = reader.result;
                }, false);
                reader.readAsDataURL(files[0]);
            },
            download($e) {
                this.$ga.event('Billboards', 'Downloaded', 'Ride billboard');
                let target = $e.target;
                let billboard = document.querySelector('.ride-billboard');
                let currentWidth = billboard.offsetWidth;
                let transformFactor = 1080 / currentWidth;
                let fontSize = 2 * (billboard.offsetHeight / 80) * transformFactor;
                billboard.style.width = '1080px';
                billboard.style.height = '1920px';
                billboard.style.fontSize = fontSize + 'px';
                billboard.scrollIntoView(true);
                Vue.nextTick(() => {
                    html2canvas(billboard, {
                        onrendered: function (canvas) {
                            // document.body.appendChild(canvas);
                            billboard.style.width = null;
                            billboard.style.height = null;
                            billboard.style.fontSize = null;
                            let newCanvas = document.createElement('canvas');
                            newCanvas.width = 1920;
                            newCanvas.height = 1080;
                            let ctx = newCanvas.getContext('2d');
                            ctx.rotate(-90 * Math.PI / 180);
                            ctx.drawImage(canvas, -1080, 0);
                            let link = document.querySelector('#downloadLink');
                            link.href = newCanvas.toDataURL();
                            link.click();
                        }
                    })
                })

            }
        },
        watch: {
            color: function (value) {
                document.querySelector('.ride-billboard').style.setProperty('--main-color', value.hex);
                document.querySelector('.ride-billboard').style.setProperty('--dark-color', '#' + tinycolor(value.hex).darken(10).toHex());
                document.querySelector('.ride-billboard').style.setProperty('--darker-color', '#' + tinycolor(value.hex).darken(20).toHex());
            },
            waitTimeColor: function (value) {
                document.querySelector('.ride-billboard').style.setProperty('--wait-color', value.hex);
            },
            '$i18n.locale': function (to, from) {
                console.log(to, from);
                if (to === 'cstm') {
                    this.messages = this.$i18n.getLocaleMessage(from)
                }
            },
            messages: function (to, from) {
                this.$i18n.setLocaleMessage('cstm', to)
            }
        },
        i18n: {
            messages: messages
        }
    }
</script>

<style lang="scss" scoped>
    @import './style';
</style>