<template>
    <div class="drop-area has-text-centered has-text-grey" :class="{ 'dropping': dragOver }"
         @click="$refs.fileInput.click()">
        <p class="lead mb-0">Drop your image here</p>
        <small style="font-weight: 300;">(or click here to choose an image)</small>
        <input type="file" style="display: none;" ref="fileInput" @change="fileChanged" accept="image/*">
    </div>
</template>

<script>
    export default {
        props: ['prop'],
        data () {
            return {
                dragOver: false
            }
        },
        methods: {
            addEvent(el, s, fn) {
                s.split(' ').forEach(e => el.addEventListener(e, fn, false));
            },
            fileChanged(e){
                this.$emit('files', e.target.files, this.prop);
            }
        },
        mounted () {
            let box = this.$el;
            let obj = this;

            this.addEvent(box, 'drag dragstart dragend dragover dragenter dragleave drop', function (e) {
                e.preventDefault();
                e.stopPropagation();
            });
            this.addEvent(box, 'dragover dragenter', function () {
                obj.dragOver = true;
            });
            this.addEvent(box, 'dragleave dragend drop', function () {
                obj.dragOver = false;
            });
            this.addEvent(box, 'drop', function (e) {
                obj.$emit('files', e.dataTransfer.files, obj.prop);
            });
        }
    }
</script>
