.index {
  &__logo{
    width: 25em;
    height: auto;
    max-width: 70vw;
  }

  &__btn{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: .2em solid #CCC;

    border-radius:.3em;

    padding: 1.25em;

    position: relative;

    &:hover{
      text-decoration: none;
      background-color: #e1e1e1;
    }

    &__icon{
      height: 7em;
    }
    &__name{
      font-size: 1.15em;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 1em;
      line-height: 1.2;
      color: #636c72;
    }

    &__version {
      color: #999999;
      line-height: 1.1;
    }

    &.disabled &__icon, &.disabled &__name {
      opacity: .45;
    }

    &.disabled {

      border-color: #EEE;

      &:hover{
        background-color: transparent;
      }

      &:after{
        display: block;
        content: 'Coming soon!';
        position: absolute;
        width: 8em;
        height: 1.7em;
        top: 50%;
        left: 50%;
        margin-top: -0.85em;
        margin-left: -4em;
        text-align: center;
        line-height: 1.4em;
        font-size:1.5em;
        color:red;
        text-transform: uppercase;
        font-weight: bold;
        border: .2em solid red;
        vertical-align: middle;
        transform: rotate(-15deg) scale(1.2);
      }
    }
  }
}