$primary: #008ACC;
$font-family-billboard: 'Source Sans Pro', sans-serif;
$fa-font-path: "../fonts";

$family-sans-serif: $font-family-billboard;
$navbar-background-color: $primary;
$navbar-item-color: rgba(white, 0.85);
$navbar-item-hover-color: white;
$navbar-item-active-color: white;

$card-header-weight: 300;

@import '~bulma/bulma';
@import 'bulma-ext/checkradio.sass';
@import 'bulma-ext/switch.sass';

//@import 'fa/font-awesome-core.scss';
//@import 'fa/font-awesome-regular.scss';
//@import 'fa/font-awesome-brands.scss';

@font-face {
  font-family: 'sa-digital-number';
  src: url('../fonts/sa-digital-number.eot');
}

@font-face {
  font-family: 'sa-digital-number';
  src: url('../fonts/sa-digital-number.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BLOKK';
  src: url('../fonts/BLOKKNeue-Regular.eot');
  src: url('../fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BLOKKNeue-Regular.woff2') format('woff2'),
  url('../fonts/BLOKKNeue-Regular.woff') format('woff'),
  url('../fonts/BLOKKNeue-Regular.otf') format('opentype'),
  url('../fonts/BLOKKNeue-Regular.ttf') format('truetype'),
  url('../fonts/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'BLOKK';
    src: url('../fonts/BLOKKNeue-Regular.svg') format('svg');
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@import "range";

.btn-group-justified {
  width: 100%;
  display: flex;
}
.btn-group-justified .btn,
.btn-group-justified .btn-group {
  flex: 1;
}

.drop-area {
  border: 2px dashed #DDD;
  padding: .8rem;
  &.dropping {
    background-color: #e7e7e7;
  }
}

.bbImgCard {
  opacity: .65;
  transition: .3s all;
  transform: scale(.85);
  color: white;
  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar-brand {
  img {
    height: 2em;
  }
  small {
    font-size: .7em;
    margin-left: 1em;
  }
}

.table-vam {
  th, td {
    vertical-align: middle;
  }
}

.blokk{
  font-family: "BLOKK";
}

.footer{
  &__logo {
    height: 5rem;
  }
}

body .vue-color__chrome {
  font-family: $family-sans-serif;
}

@import "index";